{{!< default}} <main id="site-main" class="site-main outer">

<div class="inner posts">
    <div class="post-categories">
        <section class="post-card post-card-large">
            <div>
                <header>
                    <h2 class="post-card-title">{{name}}</h2>
                </header>
                <div class="post-card-excerpt">
                    <h2 class="post-card-title">All the categories</h2>
                </div>
            </div>
        </section>

        {{#get "tags"}}
            {{#foreach tags}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                <div>
                    {{> "category-card"}}
                    <a href="{{url}}" class="category-link">{{name}}</a>
                </div>
                <br> <!-- Add <br> tag to create a new line -->
            {{/foreach}}
        {{/get}}

    </div>
</div>

    </main>